{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <p class="text-blue-500">Here an import from Hello.vue and tailwindcss</p>
    <div {{ vue_component('Hello', {name: "MiniMaxi"}) }}>
        Loading...
    </div>
</div>
{% endblock %}
