{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div {{ vue_component('Products', { 'products': products, 'productPath': path('app_product_show', { 'id': 'ID_PLACEHOLDER' }) })}}></div>
{% endblock %}
