{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
    <div class="container mx-auto my-10 px-10">
        <h1 class="text-3xl font-bold mb-6 mt-6 py-12 text-center">
            {{ type == 'current' ? 'Commandes en Cours' : 'Historique des Commandes' }}
        </h1>

        {% if orders|length > 0 %}
            <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for order in orders %}
                    <li class="border bg-white shadow-md rounded-lg overflow-hidden relative max-w-sm">
                        {% include 'order/orderCard.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500 text-center">Aucune commande trouvée.</p>
        {% endif %}
    </div>
{% endblock %}
